 html,
body {
  font-family: 'Bad Script', cursive;
  height: 100%;
  margin: 0;
  font-size: 14px;
}

.container {
  height: 100%;
  position: relative;
}

.topbar {
height: 50px;
background-color: #fac96e;
text-align: center;
font-size: 27px;
font-weight: bold;
}

input {
  font-size: 12px;
  width: 200px;
  height: 30px;
}

#map {
  width: 100%;
  height: calc(100% - 50px);
}

#iw_container{
  font-family: 'Armata', sans-serif;
}

.placelist {
  list-style-type: none;
  text-align: center;  
  font-weight: bold;
  font-size: 18px;
  border: solid #db9726;
  border-radius: 8px;
}

.placelist:hover {
  background-color: #fbd897;
  cursor: pointer;
}

ul{
  margin-top: 20px;
  padding-left: 0;
}

nav {
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  width: 250px;
  background-color: #f8b230;
  transform: translate3d(-250px, 0, 0);
  transition: transform 0.4s ease;
}

.active-nav nav {
  transform: translate3d(0, 0, 0);
}

.nav-toggle-btn {
  display: block;
  position: absolute;
  left: 250px;
  padding: 10px 20px 15px 15px;
  color: white;
  cursor: pointer;
}

#form-container {
  padding-top: 10px;
  padding-left: 20px;
}

label {
  font-size: 25px;
  font-weight: bold;
}

@media screen and (max-width: 768px){ 
  .topbar {
  height: 70px;
  background-color: #fac96e;
  font-size: 30px;
}

.placelist {
  list-style-type: none;
  text-align: center;  
  font-weight: bold;
  font-size: 20px;
  border: solid #db9726;
  border-radius: 8px;
}

.nav-toggle-btn {
  position: absolute;
  left: 250px;
  padding: 20px 20px 20px 20px;
  color: white;
}
}

@media screen and (max-width: 320px) {
.topbar {
  height: 50px;
  background-color: #fac96e;
  font-size: 18px;
}

.placelist {
  list-style-type: none;
  text-align: center;  
  font-weight: bold;
  font-size: 16px;
  border: solid #db9726;
  border-radius: 8px;
}

label {
  font-size: 25px;
  font-weight: bold;
}

}
